h1 {
	font-style: bold;
}

ul {
	font-weight: bold;
	font-size: 20px;
}

a {
	float: left;
	width: 6em;
	text-decoration: none;
	color: white;
	padding: 0.2em 1.5em;
	border-right: 1px solid blue;
	text-align: center;
	margin: auto;
	width: 15em;
}

footer {
	font-style: italic;
	font-weight: bold;
}

.format {
	background-color: beige;
}

p {
	font-family: TimesNewRoman;
	font-size: 20px;
}

a:visited {
	color: purple;
}

a:hover, a:visited:hover {
	color: red;
}

ol {
	font-weight: bold;
	font-size: 20px;
}